---
# Data Types And Structures Theoretical Answers
---
---
## 1. What are data structures, and why are they important?
Data structures are ways of organizing, managing, and storing data so that it can be accessed and modified efficiently. They are important because:

-> They help optimize the use of memory.

-> They allow for efficient data retrieval and manipulation.

-> They are foundational to algorithms, enabling solutions to
   complex problems.

    Examples: Arrays, Lists, Stacks, Queues, Linked Lists, Trees, Graphs, and Hash Tables.
---
## 2. Explain the difference between mutable and immutable data types with examples.
Mutable: Can be changed after creation.  
Example: Lists, Dictionaries.

    my_list = [4, 2, 3]
    my_list[0] = 10  # Modifies the list
    print(my_list)  # Output: [10, 2, 3]

Immutable: Cannot be changed after creation.  
Example: Tuples, Strings.

    my_string = "hello"
    my_string[0] = 'H'  # Error: Strings are immutable
---
## 3. What are the main differences between lists and tuples in Python
Lists

Mutable: Change elements after creation.  
Syntax: []  
Use: Changing data.  

Tuples  
Immutable: Can't change elements.  
Syntax: ()  
Use: Data that shouldn't change.

---
## 4. Describe how dictionaries store data.
Dictionaries store data as key-value pairs using a hash table. Keys are hashed to unique indices, enabling fast lookups.

    my_dict = {"name": "Faiz", "age": 20}
    print(my_dict["name"])  # Access via key


---
## 5. Why might you use a set instead of a list in Python?
Advantages of sets over lists:  
Automatically removes duplicate values.   
Faster operations for checking membership (in).

    my_list = [1, 2, 2, 3]
    my_set = set(my_list)
    print(my_set)  # Output: {1, 2, 3}

---
## 6. What is a string in Python, and how is it different from a list?
A string is an immutable sequence of characters, while a list is a mutable sequence of elements.     
string:

    my_string = "hello"
    print(my_string[0])  # Access 'h'
    # Cannot modify directly

list:

    my_list = ['h', 'e', 'l', 'l', 'o']
    my_list[0] = 'H'  # Can modify directly
    print(my_list)  # Output: ['H', 'e', 'l', 'l', 'o']

---
## 7. How do tuples ensure data integrity in Python?
Tuples are immutable, so their content cannot be changed. This ensures data integrity by preventing accidental modifications.

---
## 8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python use hash tables to provide average O(1) time complexity for key lookups.

---

## 9. Can lists contain different data types in Python?
Yes, lists can contain elements of varying data types.

    my_list = [1, "Faiz", 3.14]
    print(my_list)  # Output: [1, 'Faiz', 3.14]

---

## 10. Explain why strings are immutable in Python?
Strings are immutable to improve performance and security. Since they are often used as keys in dictionaries, immutability ensures they remain hashable and consistent.

---

## 11. What advantages do dictionaries offer over lists for certain tasks?
Faster lookups by key (O(1) vs O(n)).     
Data is stored as key-value pairs, making it more intuitive for mapping relationships.

---
## 12. Describe a scenario where using a tuple would be preferable over a list.
Use a tuple when the data should not change, like coordinates
or configuration values.

    coordinates = (10, 20)

---
## 13. How do sets handle duplicate values in Python?
Sets automatically remove duplicates.

    my_set = {9, 5, 6, 7, 7, 8, 9}
    print(my_set)  # Output: {9, 5, 6, 7, 8}

---
## 14. How does the “in” keyword work differently for lists and dictionaries?
List: Checks for existence of a value

    print(3 in [1, 2, 3])  # True

Dictionary: Checks for existence of a key.

    my_dict = {"a": 1, "b": 2}
    print("a" in my_dict)  # True

---
## 15. Can you modify the elements of a tuple? Explain why or why not
No, you cannot modify elements of a tuple in Python. This is because tuples are immutable, meaning their elements cannot be changed, added, or removed after the tuple is created.

---
## 16. What is a nested dictionary, and give an example of its use case?
A dictionary inside another dictionary.

    students = {
        "Faiz": {"age": 20, "grade": "A"},
        "Abdul": {"age": 22, "grade": "B"}
    }
    print(students["Alice"]["age"])  # Output: 20

---
## 17. Describe the time complexity of accessing elements in a dictionary.
Accessing an element by key has an average time complexity of O(1) due to hashing.

---
## 18. In what situations are lists preferred over dictionaries?
-> When order is important.    
-> When you need sequential access.   
-> When there are no unique keys required.

---
## 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries are considered unordered because they are designed to prioritize fast lookups and insertions rather than maintaining the order of elements. Internally, dictionaries use a hash table to store key-value pairs. The order in which items are stored depends on how the keys are hashed and distributed across memory, rather than the order they are added.  

-> Being unordered affect data retrieval in followings ways:   
No Sequential Access by Index.            
Randomized Order.                        
Key-Based Retrieval.

---
## 20. Explain the difference between a list and a dictionary in terms of data retrieval.
List: Retrieval by index (O(1)).           
Dictionary: Retrieval by key (O(1)).   

---

# Practical Answers
---
---
## 1. Write a code to create a string with your name and print it.

In [1]:
name = "Md Faiz Alam"
print(name)
# output = Md Faiz Alam

## 2. Write a code to find the length of the string "Hello World".

In [ ]:
my_string = "Hello World"
length = len(my_string)
print("The length of the string is:",length)
# output = The lenght of the string is: 11

## 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
my_string = "Python Programming"
slice_string = my_string[:3]
print(slice_string)
# output = Pyt

## 4. Write a code to convert the string "hello" to uppercase.

In [ ]:
my_string = "hello"
print(my_string.upper()) # output = HELLO

## 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)
# output = I like orange

## 6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
# output = [1, 2, 3, 4, 5]

## 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
# Append the number 10
my_list.append(10)
print(my_list)
# output = [1, 2, 3, 4, 10]

## 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list = [1, 2, 3, 4, 5]
# Remove the number 3
my_list.remove(3)
print(my_list)
# output = [1, 2, 4, 5]

## 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']
# Access the second element (index 1)
second_element = my_list[1]
print(second_element)
# output = b

## 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
# Reverse the list
my_list.reverse()
print(my_list)
# output = [50, 40, 30, 20, 10]

## 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)
# outtput = (10, 20, 30)

## 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)
# output = apple

## 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_2 = my_tuple.count(2)
print(count_2)
# output = 3

## 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')
print(index_of_cat)
# output = 1

## 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
# Check if "banana" is in the tuple
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)
# output = True

## 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
# output = {1, 2, 3, 4, 5}

## 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)
# output = {1, 2, 3, 4, 6}

## 18.Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)
# output = (10, 20, 30)

## 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)
# output = apple

## 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_2 = my_tuple.count(2)
print(count_2)
# output = 3

## 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')
print(index_of_cat)
# output = 1

## 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)
#output = True

## 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
# output = {1, 2, 3, 4, 5}

## 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)
# output = {1, 2, 3, 4, 6}

# Thank You!